.add-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
  &-name {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    border-bottom-width: 1px;
    border-color: rgb(209, 213, 219);
  }

  &-phone-number {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-color: rgb(209, 213, 219);
  }

  &-select {
    width: 100%;
  }
}

@media only screen and (max-width: 635px) {
  .add-user {
    align-items: center;
    row-gap: 20px;

    &-name,
    &-phone-number,
    &-select {
      & > div {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .add-user {
    align-items: center;
    margin: auto;
    row-gap: 0px;
    &-name,
    &-phone-number,
    &-select {
      display: flex;
      flex-wrap: wrap;
      row-gap: 7px;
      justify-content: center;
    }
  }
}
