.crm-new-record {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  & > div {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > div:first-child {
      padding-bottom: 8px;
      color: #4a9ecd;
      border-bottom: 1px solid #4a9ecd;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.6px;
    }
  }

  &-row-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &-column-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
