.button {
  background-color: white !important;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: transparent 2px solid;
  color: #434f68;
  display: inline-flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  &-label {
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.15px;
  }

  &:hover {
    color: #5fbcff;
    border-color: #0075ff;
  }
}