.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &-main {
    width: 100%;
    height: 2.75rem;
    padding: 3px 15px 3px 2.5rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #a1a1aa;
    &:hover {
      border-color: #5fbbff;
    }
  }
}
