@tailwind base;
@tailwind components;
@tailwind utilities;

.change-theme::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 100%;
  margin-top: -11px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

@import "./components/modals/Basic.scss";
@import "./components/modals/AddTask.scss";
@import "./components/modals/AddUser.scss";
@import "./components/modals/Attend.scss";

@import "./components/table/table.scss";
@import "./components/BarChart.scss";
@import "./components/Button.scss";
@import "./components/CheckBox.scss";
@import "./components/DatePicker.scss";
@import "./components/Doughnut.scss";
@import "./components/Input.scss";
@import "./components/Label.scss";
@import "./components/MenuItem.scss";
@import "./components/ModalTitle.scss";
@import "./components/PieChart.scss";
@import "./components/Select.scss";
@import "./components/TaskCard.scss";
@import "./components/TimeLabel.scss";
@import "./components/ToggleSelector.scss";
@import "./components/UploadDoc.scss";
@import "./components//UploadFIle.scss";

.col-1 {
  grid-column: span 1 / span 1;
}

.col-2 {
  grid-column: span 2 / span 2;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-4 {
  grid-column: span 4 / span 4;
}

/*---width---*/

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

/*--padding---*/

/*---margin---*/

.mr-24 {
  margin-right: 96px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: grid;
  place-items: center;
}

.ant-checkbox .ant-checkbox-inner {
  width: 30px;
  height: 30px;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  width: 10px;
  height: 17px;
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #0075ff;
  color: white;
}

.toggle1 .ant-segmented-item {
  padding: 10px 30px;
}

.ant-segmented .ant-segmented-item-label {
  padding: 0px;
  height: auto;
  line-height: 18px;
  min-height: 0;
}

.ant-upload-wrapper .ant-upload {
  width: 100%;
}

.toggle2 .ant-segmented-item {
  padding: 10px 15px;
}

.ant-picker .ant-picker-input > input {
  text-align: right;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Heebo";
}

.ant-picker .ant-picker-input {
  gap: 10px;
}

.flip-icon-input .ant-picker-input > input {
  order: 1;
}

.flip-icon-input .ant-picker-suffix {
  order: 0;
}
