.card-list {
  width: 100%;
  padding: 30px;
  gap: 14px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-self: stretch;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #778899;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 5px 5px 5px 12px;
      gap: 4px;
      cursor: pointer;

      &:hover {
        color: #0075ff;
        border: 1px solid #0075ff;
        transition-duration: 0.5s;
      }

      &-text {
        font-size: 0.875rem;
        font-weight: normal;
      }
    }
  }

  &-buttons {
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    display: inline-flex;

    & button {
      padding: 0.125rem;
      background-color: #ffffff;
      border-radius: 30px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border: 2px solid transparent;
      transition: all 0.3s ease;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.625rem;
      display: flex;

      &:hover {
        border: 2px solid #5fbcff;
      }
    }

    & div {
      text-align: right;
      color: #6b7280;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
