@import "CardList";
@import "Board";
@import "StatusBar";

.recipient-home {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: auto;
  height: 100%;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // max-width: 1200px;
    width: 100%;
    min-width: 875px;
    flex-wrap: wrap;
    height: 100%;
  }

  & > div:last-child {
    height: 100%;
    width: 50%;
  }
}
