.basic-modal {
  &-cancel-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 6px;
    border-radius: 30px;

    &:hover {
      background-color: #eaf0f2;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: #eaf0f2;
    border-radius: 5px;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: grid;
  place-items: center;
  z-index: 20;
}

@media only screen and (max-width: 500px) {
  .basic-modal-footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    & button {
      width: 100%;
    }
    gap: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .basic-modal {
    padding: 20px 50px;
    flex-wrap: wrap;
  }
}
