.basic-modal {
  padding: 20px 20px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  &-cancel-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 6px;
    border-radius: 30px;

    &:hover {
      background-color: #eaf0f2;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: #eaf0f2;
    border-radius: 5px;
    & button {
      height: 48px;
      width: 125px;
    }
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: grid;
  place-items: center;
  z-index: 20;
}

@media only screen and (max-width: 350px) {
  .basic-modal-footer {
    display: flex;
    flex-direction: column;
    & button {
      width: 100%;
    }
    gap: 20px;
  }
}

// @media only screen and (max-width: 800px) {
//   .basic-modal {
//     flex-wrap: wrap;
//   }
// }
