.main-task {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  overflow: auto;
  padding: 30px 20px;
  height: 100%;

  &-step {
    display: flex;
    height: fit-content;
    flex-direction: column;
    row-gap: 8px;
    min-width: 300px;
    width: 500px;
    background-color: #d3edf640;
    border-radius: 20px;
    padding: 0px 0px 15px 0px;

    &-add {
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      display: inline-flex;
      // padding-bottom: 2rem;
      & button {
        padding: 0.125rem;
        background-color: #ffffff;
        border-radius: 30px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border: 2px solid transparent;
        transition: all 0.3s ease;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.625rem;
        display: flex;

        &:hover {
          border: 2px solid #5fbcff;
          cursor: pointer;
        }
      }
      & div {
        text-align: right;
        color: #6b7280;
        font-size: 15px;
        font-weight: 500;
      }
    }

    &-header {
      background-color: #d3edf6;
      align-items: center;
      padding: 20px;
      border-radius: 20px;
      column-gap: 10px;
      display: flex;
      flex-direction: row;
      height: 57px;

      &-count {
        color: #0075ff;
        font-family: Afek 1.5 AAA;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: -0.02em;
        text-align: right;
      }

      &-title {
        color: black;
        font-family: Afek 1.5 AAA;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: -0.02em;
        text-align: right;
      }
    }

    &-cards {
      background-color: #d3edf6;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &-create {
    background-color: #d3edf6;
    border-radius: 16px;
    padding: 10px;
    max-width: 300px;
    height: 57px;

    &-button {
      width: 100%;
      border-radius: 10px;
      height: 100%;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;

      & span {
        font-family: Afek 1.5 AAA;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.01em;
        text-align: right;
        color: #434f68;
      }
    }
  }
}
