.mini-card {
  padding: 0.625rem 15px 15px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    border: 2px solid #2563eb;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  &-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
  }
  &-name {
    color: #404040;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: right;
  }
  &-title {
    color: #164e63;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: right;
  }

  &-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    margin-top: 0.5rem;
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: right;
  }
}