.toggle-selector {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-width: 1px;
  color: #a1a1aa;

  .ant-segmented .ant-segmented-item-selected {
    background-color: #0075ff;
    color: white;
  }

  .ant-segmented-item {
    padding: 10px 30px;
  }

  .ant-segmented .ant-segmented-item-label {
    padding: 0px;
    height: auto;
    line-height: 18px;
    min-height: 0;
  }
}
