.presence {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 90%;

  &-title {
    font-family: Afek 1.5 AAA;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.0375em;
    text-align: right;
    color: #13566c;
  }

  &-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    & button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 168px;
      height: 44px;
      font-family: Afek 1.5 AAA;
      font-size: 15px;
      text-align: right;
      border-width: 2px;
      border-color: transparent;
      &:hover {
        border-color: #4096ff;
      }

      & span {
        color: #434f68;
      }
    }

    & .presence-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      &-others {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
      }

      &-toggle {
        background-color: white;
        padding: 0px;
        height: 44px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        align-items: center;

        & .ant-segmented-item-selected {
          background-color: #0075ff;
          color: #cfd3d9;
        }

        & label {
          height: 44px;
          box-sizing: border-box;
          padding: 10px 15px;
          font-size: 15px;
          font-family: Afek 1.5 AAA;
          border-radius: 0px !important;
          &:first-child {
            border-left: 2px solid #f5f5f5;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
          }

          &:last-child {
            border-right: 2px solid #f5f5f5;
            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
          }
        }
      }
    }
  }

  &-table {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

    & td {
      font-family: Afek 1.5 AAA;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: right;
    }
  }
}
