.attend {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 1.25rem;
  border-bottom-width: 1px;
  border-color: rgb(209 213 219);

  &-time {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    gap: 20px;
    & > div {
      grid-column: span 1 / span 1;
    }
  }

  &-vacation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 15px;

    &-checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 60px;
    }
  }

  &-sickness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 15px;
    &-checkbox {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 60px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .attend {
    align-items: center;

    &-time,
    &-vacation,
    &-sickness {
      display: flex;
      flex-wrap: wrap;
      & div {
        width: 100%;
      }

      & .label-title {
        width: auto;
      }
    }
  }
}
