@import "item";

.profiles-basic {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 50px 100px 100px 100px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: white;
  box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

  &-title {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-bottom: 1.5px solid #ff8a00;
    width: fit-content;
    color: #ff8a00;
  }

  &-board {
    display: flex;
    width: 650px;
    gap: 20px;
    flex-wrap: wrap;
  }

  & .ant-picker,
  & .ant-input-affix-wrapper {
    border-color: #bababa;
    box-shadow: none;
  }
}
