@import "cardList";
@import "board";
@import "statusBar";

.recipient-home {
  width: 100%;
  margin: auto 2%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: scroll;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
  }
}
