@import "cardList/card-list";
@import "employment/employment";
@import "recentEvents/recent-events";
@import "pieChart";
@import "barChart";

.recipient-home {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &>div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}