.recipient-questionnaire-modal {
  color: #464648;
  text-align: right;
  font-family: Afek 1.5 AAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.15px;
}
