.event-report {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 30px 20px;

  &-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #13566c;
    font-family: Afek 1.5 AAA;
    font-size: 32px;
  }

  &-navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    align-items: center;

    &-toggle {
      background-color: white;
      padding: 0px;
      height: 44px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      align-items: center;
      // color: #464648;

      & .ant-segmented-item-selected {
        background-color: #0075ff;
        color: #cfd3d9;
      }

      & label {
        height: 44px;
        box-sizing: border-box;
        padding: 10px 15px;
        font-size: 15px;
        font-family: Afek 1.5 AAA;
        border-radius: 0px !important;

        &:first-child {
          border-left: 2px solid #f5f5f5;
          border-top-right-radius: 6px !important;
          border-bottom-right-radius: 6px !important;
        }

        &:last-child {
          border-right: 2px solid #f5f5f5;
          border-top-left-radius: 6px !important;
          border-bottom-left-radius: 6px !important;
        }
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-evenly;

      & button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 168px;
        height: 44px;
        font-family: Afek 1.5 AAA;
        font-size: 15px;
        text-align: right;
        border-width: 2px;
        border-color: transparent;

        &:hover {
          border-color: #4096ff;
        }

        & span {
          color: #434f68;
        }

        & svg {
          border-radius: 8px;
        }
      }
    }

    &-others {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      // align-items: flex-start;
      gap: 10px;

      // height: 44px;
      // & .picker {
      //   width: auto;
      // }
    }
  }

  &-table {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

    &-service {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 10px;
    }

    & tbody .ant-table-cell {
      padding: 4px 10px !important;
    }
  }
}


.rangePickerCustomStyles-rtl {
  .ant-picker-dropdown {
    @media (max-width: 650px) {
      width: 85vw;
    }
  }
   
  .ant-picker-dropdown .ant-picker-panel-container {
    @media (max-width: 650px) {
      overflow: auto;
    }
  }
  
  .ant-picker-header .ant-picker-header-super-prev-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-prev-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-header-super-next-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-next-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-month-btn{
    width: 40px;
    margin-right: 70px;
  }
  
  .ant-picker-header .ant-picker-year-btn{
    width: 70px;
    margin-inline-start: 0px;
    padding: 5px;
  }  

  .ant-picker-header .ant-picker-header-view{
    padding-left: 40px;
    height: 30px;
  }  
}

.rangePickerCustomStyles-ltr {
  .ant-picker-dropdown {
    @media (max-width: 650px) {
      width: 85vw;
    }
  }
   
  .ant-picker-dropdown .ant-picker-panel-container {
    @media (max-width: 650px) {
      overflow: auto;
    }
  }
  
  .ant-picker-header .ant-picker-header-super-prev-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-prev-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-header-super-next-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-next-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-month-btn{
    width: 40px;
    margin-left: 40px;
  }
  
  .ant-picker-header .ant-picker-year-btn{
    width: 70px;
    padding: 4px;
    margin-right: 40px;
  }  

  .ant-picker-header .ant-picker-header-view{
    height: 30px;
  }  
}
