.header-theme {
  &-button {
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & a:last-child {
      display: flex;
      align-items: center;
      transform: rotate(180deg);
    }
  }

  &-modal {
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 90px;
    top: 60px;
    z-index: 25;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 40px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }

    &-main {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: inline-flex;

      &-title {
        align-self: stretch;
        padding: 10px 0px;
        border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        line-height: 13px;
        text-align: right;
        color: #3f5263;
        font-size: 18px;
        font-weight: 500;
        word-wrap: break-word;
      }

      &-board {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;

        &-theme {
          padding: 12px;
          justify-content: flex-start;
          align-items: center;
          gap: 12px;
          display: inline-flex;

          &:hover {
            cursor: pointer;
            background-color: #A19898;
          }

          &-bar {
            width: 280px;
            height: 25px;
            justify-content: flex-start;
            align-items: flex-start;
            display: flex;

            &-color {
              flex: 1 1 0;
              align-self: stretch;
            }
          }
        }
      }
    }
  }
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab:before {
  background-color: ghostwhite;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
  color: black;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active:before {
  background-color: white;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: dodgerblue;
}
