.small-card {
  border-radius: 10px;
  padding: 20px 20px 10px 15px;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  border: 2px solid transparent;
  transition: all 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  & &-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &-data {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      &-title {
        font-family: Afek 1.5 AAA;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-align: right;
        color: #13566c;
      }

      &-content {
        font-family: Afek 1.5 AAA;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
        color: #404040;
      }
    }

    &-user {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;

      & span {
        font-family: Afek 1.5 AAA;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-align: right;
        color: #404040;
      }
    }
  }

  & &-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    &-attach {
      display: flex;
      flex-direction: row;
      background-color: #eaf0f2;
      border-radius: 30px;
      padding: 4px 8px 4px 6px;
      column-gap: 5px;

      & span {
        font-family: Afek 1.5 AAA;
        font-size: 18px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
        color: #5177a4;
      }
    }

    &-info {
      display: flex;
      flex-direction: row;
      column-gap: 5px;

      & .card-number {
        font-family: Afek 1.5 AAA;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
        color: #13566c;

        &-text {
          font-family: Afek 1.5 AAA;
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: right;
          color: #808285;
        }
      }
    }
  }

  &-more {
    position: absolute;
    border-radius: 30px;
    padding: 6px;
    left: 3px;
    top: 6px;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    border-color: #0075ff;
  }
}
