.expense {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 5%;

  &-title {
    font-family: Afek 1.5 AAA;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.0375em;
    text-align: right;
    color: #13566c;
  }

  &-board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    & button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 168px;
      height: 44px;
      font-family: Afek 1.5 AAA;
      font-size: 15px;
      text-align: right;
      border-width: 2px;
      border-color: transparent;
      &:hover {
        border-color: #4096ff;
      }

      & span {
        color: #434f68;
      }
    }

    & .expense-navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      overflow: auto;

      &-others {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
      }

      &-toggle {
        background-color: white;
        padding: 0px;
        height: 44px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        align-items: center;

        & .ant-segmented-item-selected {
          background-color: #0075ff;
          color: #cfd3d9;
        }

        & label {
          height: 44px;
          box-sizing: border-box;
          padding: 10px 13.5px;
          font-size: 14px;
          font-family: Afek 1.5 AAA;
          border-radius: 0px !important;
          &:first-child {
            border-left: 2px solid #f5f5f5;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
          }

          &:last-child {
            border-right: 2px solid #f5f5f5;
            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
          }
        }
      }
    }
  }

  &-table {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

    & td {
      font-family: Afek 1.5 AAA;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: right;
    }
  }
}

.rangePickerCustomStyles-rtl {
  .ant-picker-dropdown {
    @media (max-width: 650px) {
      width: 85vw;
    }
  }
   
  .ant-picker-dropdown .ant-picker-panel-container {
    @media (max-width: 650px) {
      overflow: auto;
    }
  }
  
  .ant-picker-header .ant-picker-header-super-prev-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-prev-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-header-super-next-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-next-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-month-btn{
    width: 40px;
    margin-right: 86px !important;
  }
  
  .ant-picker-header .ant-picker-year-btn{
    width: 70px;
    margin-top: -44px;
    padding: 10px;
  }  

  .ant-picker-header .ant-picker-header-view{
    padding-right: 20px;
  }  
}

.rangePickerCustomStyles-ltr {
  .ant-picker-dropdown {
    @media (max-width: 650px) {
      width: 85vw;
    }
  }
   
  .ant-picker-dropdown .ant-picker-panel-container {
    @media (max-width: 650px) {
      overflow: auto;
    }
  }
  
  .ant-picker-header .ant-picker-header-super-prev-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-prev-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-header-super-next-btn{
    width: 10px;
    padding: 0;
    margin: 0;
  }
  
  .ant-picker-header .ant-picker-header-next-btn{
    width: 10px;
    padding: 0;
    margin-right: 0;
  }
  
  .ant-picker-header .ant-picker-month-btn{
    width: 40px;
    margin-left: 100px !important;
  }
  
  .ant-picker-header .ant-picker-year-btn{
    width: 70px;
    margin-top: -44px;
  }  

  .ant-picker-header .ant-picker-header-view{
    padding-left: 20px;
  }  
}
