.recipient-home-statusbar {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: fit-content;
  background-color: white;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: auto;

  &-overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
    border-left: 1px solid #ced8db;

    &-name {
      color: #000;
      text-align: right;
      font-family: Heebo;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &-id {
      & span:first-child {
        color: #434f68;
        text-align: right;
        font-family: Afek 1.5 AAA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      & span:last-child {
        color: #13566c;
        text-align: right;
        font-family: Afek 1.5 AAA;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex: 1 0 0;
    border-left: 1px solid #ced8db;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 12px;
    }

    & span:first-child {
      color: #434f68;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & span:last-child {
      color: #13566c;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &-contact {
    height: 56px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 0;
    gap: 12px;
    border-left: 1px solid #ced8db;

    & > div {
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: flex-start;
      width: 100%;
    }

    & span:first-child {
      color: #434f68;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & span:last-child {
      color: #0075ff;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
      text-decoration-line: underline;
    }
  }

  &-setting {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    transition: all 0.3s;

    & > div {
      flex-direction: column;
      display: flex;
      gap: 10px;
      color: #434f68;
      text-align: right;
      font-family: Afek 1.5 AAA;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;

      // & > div:first-child {
      //   padding-bottom: 10px;
      // }
    }

    & svg {
      margin-top: 5px;
    }
    &-state,
    &-temp-state {
      border-color: transparent;
      border-radius: 6px;
      border: 1.5px solid transparent;
      padding: 2px;

      &:hover {
        border-color: #ced8db;
        box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);
      }

      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      gap: 10px;

      & div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2px;
      }

      & label {
        cursor: pointer;
        width: 60px;
        padding: 6px 10px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 6px;
        border: 1px solid;
      }
    }

    &-temp-state {
      color: white;
    }
  }

  .rotate-180 {
    rotate: 180deg;
    transition: all 0.3s;
  }
}
