$primary-color: #003A78;
$primary-variant-color: #38558F;
$primary-color-1: #E2E9F0;
$primary-color-1-variant-color: #CBD7E4;
$secondary-color: #EF7B10;
$secondary-color-light: #FDF0E4;
$secondary-variant-color: #F49745;
$border-color: #E7ECF2;
$placeholder-color: #B8C1CC;
$field-color: #66737F;
$background-color: #F2F5F8;
$success-color: #38c976;
$success-variant-color: #62d493;
$error-color: #FE5050;
$error-variant-color: #FE6767;
$error-color-light: #FEEBEB;
$alert-blue: #206DFF;
$alert-blue-light: #E8F0FF;
$light-orange-variant-color: #FF9700