@import "sidebar";

.recipient-profile {
  width: 96%;
  margin: auto;
  height: 100%;
  position: relative;
  overflow-x: auto;

  &-board {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    // margin-bottom: calc(100% - 800px);
    padding-bottom: 800px;
    width: 100%;
  }

  &-footer {
    box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 135px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
    background-color: #d3edf6;
    height: 64px;

    & button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      height: 44px;
      font-family: Afek 1.5 AAA;
      font-size: 15px;
      text-align: right;
      border-width: 2px;
      border-color: transparent;

      &:hover {
        border-color: #4096ff;
      }

      & span {
        color: #434f68;
      }

      & svg {
        border-radius: 8px;
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .profiles-basic {
    padding: 20px 40px 40px 40px;
    width: 730px;
  }
}

@media only screen and (max-width: 782px) {
  .profiles-basic {
    padding: 10px 20px 20px 20px;
    gap: 10px;
    width: 685px;
  }
}

@media only screen and (max-width: 992px) {
  .recipient-profile-footer {
    right: 0px;
  }
}
