@import "sidebar";

.recipient-profile {
  width: 96%;
  margin: auto;
  height: calc(100vh - 128px);
  overflow: auto;

  &-board {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: auto;
  }
}
