.quick-info {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.563rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #b3e3e3;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &-text {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .text1 {
      text-align: right;
      color: #4a5568;
      font-size: 4rem;
      line-height: 1;
      font-weight: 800;
    }
    .text2 {
      text-align: right;
      color: #4a5568;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    margin-right: auto;
  }
}

@media only screen and (max-width: 560px) {
  .quick-info {
    flex-direction: column;
    align-items: center;
    // width: 100%;

    &-text {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }

    &-buttons {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      & button {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .quick-info {
    flex-direction: column;
    &-buttons {
      margin: 0px;
      padding: 20px 0px;
      // align-items: center;
      // justify-content: space-between;
    }
  }
}
