.sidebar {
  &-main {
    background-color: white;
    padding-top: 1.25rem;
  }

  &-logo {
    height: 4rem;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0.875rem;
    border-bottom-width: 1px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-color: #9f7aea;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    display: inline-flex;
  }
}
