.label {
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 0.125rem;

  &-title {
    color: #464648;
    text-align: right;
    font-family: Afek 1.5 AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.15px;
  }
  
  &-require {
    color: #f87171;
  }
}

.time-label {
  display: flex;
  width: 78px;
  height: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px 5px 3px 10px;
  border-radius: 5px;
  // border-radius: 5px;
  // padding: 3px 5px 3px 2.5rem;
  // display: flex;
  // justify-content: space-between;
  // column-gap: 5px;
  &-content {
    color: white;
    font: normal 11px/17.6px "Poppins";
    letter-spacing: -0.025em;
  }
}

.title-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  &-main {
    color: #4a9ecd;
    text-align: right;
    font-family: Afek 1.5 AAA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }
}
