.reception {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0px;

  .service-table {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

    .ant-table-cell-with-append {
      & button {
        border-color: transparent;
        background-color: transparent;
        padding-right: 10px;
      }
    }

    .name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 10px;
    }

    .phone {
      color: #0075ff;
      text-decoration-line: underline;
    }
  }
}
