.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 30px 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #b3e3e3;
  box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);

  .statistic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-direction: row;
    column-gap: 20px;
    .count {
      max-width: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // row-gap: 7px;

      .number {
        color: #344449;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }

      .label {
        color: #344449;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;
      }
    }

    .charts {
      flex-wrap: wrap;
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: flex-start;
      column-gap: 5px;
      gap: 10px;
      // flex-grow: 1;

      .statistic {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 15px 3px 10px;
        border-radius: 10px;
        background: #ffffff;
        row-gap: 10px;

        .doughnut {
          width: 80px;
          height: 80px;
        }

        .state {
          padding: 10px;
          display: flex;
          flex-direction: column;
          row-gap: 12px;

          .item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 5px;

            .percent {
              color: #5fbcff;
              text-align: right;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.15px;
            }

            .content {
              color: #13566c;
              text-align: right;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.12px;
            }
          }
        }

        .row {
          padding: 10px;
          display: flex;
          column-gap: 15px;
          justify-content: center;
          align-items: center;

          .state2 {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            justify-content: center;
            align-items: flex-start;

            .item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              column-gap: 5px;

              .percent {
                color: #5fbcff;
                text-align: right;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.15px;
              }

              .content {
                color: #13566c;
                text-align: right;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.12px;
              }
            }
          }
        }
      }
    }
  }
}

.blue {
  color: #5fbcff !important;
}

.green {
  color: #8ad341 !important;
}

.navy {
  color: #ffab48 !important;
}

.red {
  color: #ff7979 !important;
}

@media only screen and (max-width: 1470px) {
  .reception {
    & .info {
      & button {
        flex-grow: 1;
      }
    }

    & .statistic {
      flex-grow: 1;
    }
  }
}
