@import "Item";
@import "Step";

.recipient-home-board {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px 10px 15px 15px;
  background-color: white;
  box-shadow: 0px 1.689px 8.447px 0px rgba(0, 0, 0, 0.1);
  min-width: 1200px;
  width: -webkit-fill-available;

  &-title {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #13566c;
    font-family: Afek 1.5 AAA;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
  }

  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;

    &-primary,
    &-secondary {
      display: flex;
      flex-direction: row;
      gap: 0px;
      position: relative;
    }

    &-primary-effect {
      position: absolute;
      margin-top: 50px;
      transition: all 0.1s;
    }

    &-secondary-effect {
      position: absolute;
      margin-top: 148px;
      transition: all 0.1s;
    }

    &-secondary {
      border-radius: 20px;
      background: #ffe6a6;
      padding: 6px 12px;
      transition: all 0.2s;
    }

    &-work {
      background-color: #e6f2ff;
      padding: 35px;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 15px;
      border-radius: 10px;
    }
    // & > div {
    //   display: flex;
    //   flex-direction: row;
    //   position: relative;

    //   & > div {
    //     cursor: pointer;
    //     position: relative;
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //   }
    // }

    // & > div:first-child {
    //   display: flex;
    //   flex-direction: row;
    // }

    // & > div:nth-child(2) {
    //   background-color: rgb(253, 204, 89);
    //   border-radius: 15px;
    //   padding: 5px;
    //   display: flex;
    //   flex-direction: row;
    // }

    // & > div:last-child {
    //   background-color: #e6f2ff;
    //   padding: 35px;
    //   width: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   gap: 15px;
    //   border-radius: 10px;
    // }

    & button {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: fit-content;
      height: 44px;
      font-family: Afek 1.5 AAA;
      font-size: 15px;
      text-align: right;
      border-width: 2px;
      border-color: transparent;

      &:hover {
        border-color: #4096ff;
      }

      & span {
        color: #434f68;
      }
    }
  }

  .select {
    color: #13566c;
    /* MAINNAV */
    font-family: "Afek 1.5 AAA";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
  }
}
