.table {
  .ant-table-wrapper .ant-table-column-title {
    z-index: 0;
  }

  .ant-table-wrapper .ant-table-thead > tr > th {
    background: #eaf0f2;
    padding: 12px 10px 12px 2px;

    color: #000;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.12px;
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    padding: 14px 10px;

    color: #344449;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
  }
}
