.table {
  height: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  & table {
    margin-top: 14px;
    & thead {
      background-color: #eaf0f2;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      & th {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & .table-title {
          text-align: center;
          color: black;
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-weight: 400;
          font-family: "Afek 1.5 AAA";
        }

        & .table-svg {
          cursor: pointer;
        }
      }
    }

    & tbody tr {
      display: flex;
      justify-content: flex-start;
      & td {
        display: flex;
        justify-content: flex-start;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        padding-right: 0.625rem;
        border: #d1d5db 1px solid;
        text-align: right;
        color: black;
        font-size: 15px;
        font-weight: normal;
        font-family: ‘Afek 1.5 AAA’;
      }
    }
  }
}
