@import "utils";
@import "common";
@import "components";
@import "pages";
@import "assets/styles/main";

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.mr-24 {
  margin-right: 96px;
}

th {
  color: #000;
  font-family: Afek 1.5 AAA;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}

td {
  color: #000;
  font-family: Afek 1.5 AAA;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.ant-picker-range {
  & .ant-picker-input {
    width: 75px;
  }
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner:after,
.ant-radio-checked .ant-radio-inner {
  background-color: #f37021 !important;
  border-color: #f37021 !important;
}

.ant-tabs-nav-operations, .ant-tabs-nav {
  overflow: initial !important;
}