.col-1 {
  grid-column: span 1 / span 1;
}

.col-2 {
  grid-column: span 2 / span 2;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-4 {
  grid-column: span 4 / span 4;
}

/*---width---*/

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

/*--padding---*/

/*---margin---*/

.mr-24 {
  margin-right: 96px;
}

.ant-layout-content {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: grid;
  place-items: center;
}

.ant-table-wrapper .ant-table-column-title {
  z-index: auto;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background: #eaf0f2;
  padding: 12px 10px 12px 2px;

  color: #000;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.12px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 14px 10px;

  color: #344449;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.15px;
}

.ant-checkbox .ant-checkbox-inner {
  width: 30px;
  height: 30px;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  width: 10px;
  height: 17px;
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #0075ff;
  color: white;
}

.toggle1 .ant-segmented-item {
  padding: 10px 30px;
}

.ant-segmented .ant-segmented-item-label {
  padding: 0px;
  height: auto;
  line-height: 18px;
  min-height: 0;
}

.ant-upload-wrapper .ant-upload {
  width: 100%;
}

.toggle2 .ant-segmented-item {
  padding: 10px 15px;
}

.ant-picker .ant-picker-input > input {
  text-align: right;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.ant-picker .ant-picker-input {
  gap: 10px;
}

.flip-icon-input .ant-picker-input > input {
  order: 1;
}

.flip-icon-input .ant-picker-suffix {
  order: 0;
}
