.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: grid;
  place-items: center;
}

.ant-checkbox .ant-checkbox-inner {
  width: 30px;
  height: 30px;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  width: 10px;
  height: 17px;
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #0075ff;
  color: white;
}

.toggle1 .ant-segmented-item {
  padding: 10px 30px;
}

.ant-segmented .ant-segmented-item-label {
  padding: 0px;
  height: auto;
  line-height: 18px;
  min-height: 0;
}

.ant-upload-wrapper .ant-upload {
  width: 100%;
}

.toggle2 .ant-segmented-item {
  padding: 10px 15px;
}

.ant-picker .ant-picker-input > input {
  text-align: right;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  font-family: Heebo;
}

.ant-picker .ant-picker-input {
  gap: 10px;
}

.flip-icon-input .ant-picker-input > input {
  order: 1;
}

.flip-icon-input .ant-picker-suffix {
  order: 0;
}
