.dashboard1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &-main {
    & > div:first-child {
      grid-column: span 3;
    }
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    width: 100%;

    &-table {
      grid-column: span 2;
    }

    &-card {
      grid-column: span 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .dashboard1 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1440px) {
  .dashboard1-main {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & > div:first-child {
      grid-column: span 2;
    }

    &-table {
      grid-column: span 2;
    }

    &-card {
      grid-column: span 2;
    }
  }
}
