@import "home/home.scss";
@import "profile/profile";
@import "medical/medical";
@import "documents/documents";
@import "events/events";
@import "dailyPlanner/daily-planner";
@import "tasks/tasks";
@import "studies/studies";
@import "employment/employment";
@import "questionnaires";

.recipient {
  width: 100%;
  margin-top: -30px;

  .ant-tabs-nav-wrap {
    justify-content: center;
    color: #434f68;
    font-family: Afek 1.5 AAA;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: right;
  }

  & .ant-tabs-tab-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #434F68;
    text-align: right;
    font-family: "Afek 1.5 AAA";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.15px;
  }
}