.document-modal {
  &-board {
    padding: 30px;
    padding-bottom: 10px;

    & label {
      padding: 10px;
    }
  }

  &-footer {
    background-color: #eef2f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
